<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body class="flex flex-row h-screen">
  <header class="w-1/5 bg-black flex flex-col gap-8">
    <h1 class="text-white text-4xl self-center"><a href="/">Admin Dashboard</a></h1>
    <h2 class="text-white text-2xl self-center"><a href="/sites/{{site.name}}/">{{ site.name }}</a></h2>
    <div class="flex flex-col gap-4">
      <a href="/sites/{{site.name}}/texts/" class="text-white text-2xl">Tous les textes</a>
      <a href="/sites/{{site.name}}/texts/add" class="text-white text-2xl">Ajouter un texte</a>
    </div>
    <div class="flex flex-col gap-4">
      <a href="/sites/{{site.name}}/images/" class="text-white text-2xl">Toutes les images</a>
      <a href="/sites/{{site.name}}/images/add" class="text-white text-2xl">Ajouter une image</a>
    </div>
    {{#if loggedInUser.isAdmin}}
      <div class="flex flex-col gap-4">
        <a href="/sites/" class="text-white text-2xl">Tous les sites</a>
        <a href="/sites/add" class="text-white text-2xl">Ajouter un site</a>
      </div>
      <div class="flex flex-col gap-4">
        <a href="/users/" class="text-white text-2xl">Tous les utilisateurs</a>
      </div>
    {{/if}}
    <a href="/profile" class="text-white text-2xl">Mon compte</a>
    <a href="/logout" class="text-white text-2xl">Se déconnecter</a>
  </header>
  <main class="w-4/5">
    <h1>Ajouter une image</h1>
    <form action="/sites/{{site.name}}/images/add" method="post" enctype="multipart/form-data">
      <label for="image">Image</label>
      <input type="file" name="image" id="image" accept="image/*" required>
      <label for="name">Nom de l'image</label>
      <input type="text" name="name" id="name" required>
      <label for="section-name">Nom de Section</label>
      <select name="sectionName" id="section-name">
        <option value="">--Choisissez une section--</option>
        <option value="gallery">Galerie</option>
        <option value="heroImage">Image de fond</option>
        {{!-- TODO Add other section name --}}
      </select>
      <input type="submit" value="Ajouter">
    </form>
  </main>
</body>
</html>