<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body class="flex flex-row h-screen">
    <header class="w-1/5 bg-black flex flex-col gap-8">
      <h1 class="text-white text-4xl self-center"><a href="/">Admin Dashboard</a></h1>
      <a href="/profile" class="text-white text-2xl">Mon compte</a>
      <a href="/logout" class="text-white text-2xl">Se déconnecter</a>
    </header>
    <main class="w-4/5">
        <h1>Bienvenue {{ user.firstName }} {{ user.lastName }}</h1>
        <h1>Informations</h1>
        <p>{{ user.firstName }}</p>
        <p>{{ user.lastName }}</p>
        <p>{{ user.email }}</p>
        <p>{{ user.id }}</p>
    </main>
</body>
</html>